<h1> What are you?</h1>

<button><a href="/loginuser">Curious Person looking for fun</a></button>
<button><a href="/loginplace">Place that want to show my shows</a></button>
<button><a href="/loginartist">Independent lonely artist </a></button>
