<h1> What are you?</h1>

<div>
  <button type="button" class="btn btn-dark"><a href="/usersignup">Curious Person looking for fun - Sign Up</a></button>
  <button type="button" class="btn btn-dark"><a href="/userlogin">Curious Person looking for fun - Log In</a></button>
</div>

<div>
  <button type="button" class="btn btn-dark"><a href="/loginplace">Place that want to show my shows - Sign Up</a></button>
  <button type="button" class="btn btn-dark"><a href="/loginplace">Place that want to show my shows - Log In</a></button>
</div>

<div>
  <button type="button" class="btn btn-dark"><a href="/loginartist">Independent lonely artist - Sign Up</a></button>
  <button type="button" class="btn btn-dark"><a href="/loginartist">Independent lonely artist - Log In</a></button>
</div>

