<h1> What would you like to do?</h1>

<div>
  <button type="button" class="btn btn-dark"><a href="/usersignup">Sign Up</a></button>
  <button type="button" class="btn btn-dark"><a href="/userlogin">Log In</a></button>
</div>
