<h1>LOGIN PLACE</h1>

<form action="" method="">
  <label>Username</label>
  <input id="username" type="text" name="username">

  <label>Password</label>
  <input id="password" type="password" name="password">

  <button>Login</button>

</form>