<h1>LOGIN USER</h1>

<form action="/profileuser" method="GET">
  <label>Username</label>
  <input id="username" type="text" name="username">

  <label>Password</label>
  <input id="password" type="password" name="password">

  <button>Login</button>

</form>