<h2>SIGN UP</h2>

<form action="" method="POST"> 
  {{!-- COLOCAR O ACTION --}}
    <label for="username">Username:</label>
    <input type="text" name="username">

    <label for="password">Password:</label>
    <input type="password" name="password">

    <button>Sing Up</button>
</form>