<div class='container border rounded login-form mt-7'>
  <form class="px-4 py-3" action="/userlogin" method="POST">
    <div class="form-group">
      <label for="exampleDropdownFormUsername1">Username</label>
      <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="username" placeholder="jonsnow">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" name="password"
        placeholder="password">
    </div>
    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <div class="text-center">
      <button type="submit" class="btn btn-primary" value="Log In">Log In</button>
    </div>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item padding-btm" href="/usersignup">New around here? Sign up</a>
</div>