<h2 class="title">Artist</h2>

<a class="btn btn-success" href="/edituser">EDIT</a>
<img src="" alt="">

<p>Username: {{user.username}}</p>

<p>My Events</p>
<ul>
  {{#each events}}
  <li><a href="event/{{_id}}">{{name}}</a></li>
  {{/each}}
</ul>
<p>Artists I Follow</p>
<ul>
  <li> Artist 1</li>
  <li> Artist 2</li>
  <li> Artist 3</li>
</ul>
<p>Favorite Styles</p>
<ul>
  <li>Style 1</li>
  <li>Style 2</li>
  <li>Style 3</li>
</ul>

<p>Notifications</p>

<a href="/userlogout">Log Out</a>