<h1>Music Lover</h1>

<a href="/edituser">EDIT</a>
<img src="" alt="">

<p>User Type: {{user.role}}</p>
<p>User ID: {{user._id}}</p>
<p>Username: {{user.username}}</p>

<p>My Events</p>
<ul>
  <li><a href="/event">Events 1</a></li>
  <li> Events 2</li>
  <li> Events 3</li>
</ul>
<p>Artists I Follow</p>
<ul>
  <li> Artist 1</li>
  <li> Artist 2</li>
  <li> Artist 3</li>
</ul>
<p>Favorite Styles</p>
<ul>
  <li>Style 1</li>
  <li>Style 2</li>
  <li>Style 3</li>
</ul>

<p>Notifications</p>

<a href="/userlogout">Log Out</a>