<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header class="header">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link border border-primary" href="/filters">Filter</a>
      <a class="flex-sm-fill text-sm-center nav-link border border-primary" href="#">Events List</a>
      <a class="flex-sm-fill text-sm-center nav-link border border-primary" href="/userprofile">Profile</a>
      <a class="flex-sm-fill text-sm-center nav-link border border-primary" href="userlogin">Log In</a>
    </nav>
  </header>
  <main>
  {{!-- This tag renders the views content --}}
  {{{body}}}
  </main>

</body>

</html>