<div id="big-screen" class='d-flex'>
  <div class='p-3'>
    <h2 class='gray-color'>Create your GIG</h2>
    <div class="form-event-filter card p-3">
      <form action="/createevent" method="POST">
        <label class='w-100'>Name:
          <input type="text" class="form-control mt-1" name="name">
        </label>
        <br>
        <label class='w-100'>Date:
          <input type="date" class="form-control mt-1" name="date">
        </label>
        <br>
        <div class='d-flex'>
          <label class='w-100 mr-3'>From:
            <input type="time" name="from" class="form-control mt-1" min="0:00" max="23:59">
          </label>
          <label class='w-100'>To:
            <input type="time" name="to" class="form-control mt-1" min="0:00" max="23:59">
          </label>
          <br>
        </div>
        <label>Music Styles</label>
        <div class="container">
          <div class="row">
            <label class='col-md-6'>
              <input type="checkbox" value="country" name='styles'>
              Country</label>
            <label class='col-md-6'>
              <input type="checkbox" value="samba" name='styles'>
              Samba</label>
            <label class='col-md-6'>
              <input type="checkbox" value="rock" name='styles'>
              Rock</label>
            <label class='col-md-6'>
              <input type="checkbox" value="pop" name='styles'>
              Pop</label>
            <label class='col-md-6'>
              <input type="checkbox" value="reggae" name='styles'>
              Reggae</label>
            <label class='col-md-6'>
              <input type="checkbox" value="metal" name='styles'>
              Metal</label>
            <label class='col-md-6'>
              <input type="checkbox" value="brazilian-music" name='styles'>
              Brazilian Music</label>
            <label class='col-md-6'>
              <input type="checkbox" value="classic" name='styles'>
              Classic</label>
          </div>
        </div>
        <br>
        <div class="text-center">
          <button onclick="mapInit()" class="btn btn-primary" type="submit">CREATE EVENT</button>
        </div>
      </form>
    </div>
    <div class="event-list">
      <ul id="list"></ul>
    </div>

  </div>


  <div id='wrapper'>
    <label class='w-100'>Location
      <input class='w-100'id="pac-input" class="controls" type="text" name="address" placeholder="Search a Place">
    </label>
    <div id="mapEvent"></div>

  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG0_KP1HjNqL7ks7I-7NjUbM00UV1MPUE&libraries=places&callback=initAutocomplete"></script>
<script src="/javascripts/script.js"></script>