<h1>CREATE AN EVENT</h1>
<a href="/">Return</a>

<form action="/createevent" method="post">

  <label>Name:</label>
  <input type="text" name="name">
  <br>

  <label>Date:</label>
  <input type="date" name="date">
  <br>

  <label>From:</label>
  <input type="time" name="from" min="0:00" max="23:59">
  <label>To:</label>
  <input type="time" name="to" min="0:00" max="23:59">
  <br>

  <label>Music Style</label>
  <select name="music">
    <option value="country">Country</option>
    <option value="pop">Pop</option>
    <option value="rock">Rock</option>
  </select>
  <br>

  <label>Location</label>
  <input id="pac-input" class="controls" type="text" name="address" placeholder="Search a Place">

  <div id='mapEvent'></div>

  <button type="submit">ADD</button>
</form>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{googleKey}}&libraries=places&callback=initAutocomplete"></script>
  <script src="/javascripts/script.js"></script>
