<h2>EDIT USER</h2>

<form action="" method="">
  <label>Username</label>
  <input id="username" type="text" name="username">

  <label>Photo</label>
  <input id="photo" type="file" name="photo">

  <button>Save</button>
  
</form>